<a href="/dash" class="go-back"> &larr; Your Profile</a>

<article>
    <section>
        <div>
            <h2>New Post</h2>
        </div>
        <div>
            <form class="newPost">
                <div>
                    <label for="postTitle">Title</label>
                    <input type="text" id="postTitle" name="postTitle" />
                </div>
                <div>
                    <label for="postContent">Content</label>
                    <textarea  id="postContent" name="postContent"></textarea>
                </div>
                <button type="submit" class="btn">Create</button>
            </form>
        </div>
    </section>
</article>

<script src="/js/addPost.js"></script>