<section>
    <button type="submit" class="btn" id="createNew">Create New Post</button>
</section>


{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ul class="postList">
        {{#each posts as |post|}}
        <li>
            {{> postInfo post}}
            <a href="/dash/edit/{{post.id}}" class="editLink">Edit</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<script src="/js/newPost.js"></script>