<section>
    <div>
        <h1>Register</h1>
    </div>
    <div>
        <form class="signUp">
            <div>
                <label for="username">Select a Username</label>
                <input type="text" id="usernameSignup" />
            </div>
            <div>
                <label for="password">Select a password</label>
                <input type="password" id="passwordSignup" />
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
    </div>

    <a href="/login">Already registered? Login here!</a>
</section>

<script src="/js/register.js"></script>