
{{#if loggedIn}}
<a href="/dash"> &larr; Profile</a>
<br>
<br>
{{/if}}

{{> postInfo post}}

{{#if loggedIn}}
<form class="commentForm">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add Comment!</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}
