* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white;
  background-color: black;
}

a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

a:hover {
  color: darkblue;
}

button {
  background-color: blue;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: darkblue;
}

footer {
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid gray;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid darkblue;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form label {
  display: block;
}

header {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
  border: 2px outset lightgray;
  border-radius: 5px;
  background-color: gray;
  padding: 1.25rem;
}

main {
  flex: 1;
  padding: 2% 4%;
}

nav {
  padding: 1.2rem;
  text-align: right;
  white-space: pre;
}

.body {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.noStyle {
  background: none;
  margin-left: 16px;
  font-weight: bold;
  cursor: pointer;
  color: blue;
  text-decoration: none;
  padding: 0;
  font-size: 100%;
}

.noStyle:hover {
  background: none;
  color: darkblue;
}

.delPostBtn {
  background-color: #d41414;
}

.delPostBtn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title {
  color: lightgray;
  font-style: italic;
  font-size: 1.25rem;
}

.post .title span {
  color: lightgray;
  font-size: 0.8rem;
  font-style: italic;
}

.editLink {
  display: block;
  margin: -1.5% 0 2% 0;
}

.commentForm {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.posted .comment {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.newPost input,
textarea {
  width: 80%;
}

.editPost {
  margin-bottom: 5%;
}

.postList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
